body{
	background: #f6f4f4;

}

.container{
	width:800px;
	margin: 0 auto;

}

.container2{
	width:960px;
	margin: 0 auto;

}

.all{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 120px;
}


.menu{
	width:50px;
	height:50px;
	background: #ff9090;
	display: flex;
	justify-content: left;

}

.menu_wrapper{
	width:100%;
	height:100%;
	background: #ffffff;
	position: fixed;
	top: 0 ;
	left:0;
	display: none;

}

.menu_wrapper.show {
  display: block;
}

.figure{
	width:178px;
	height:178px;
	background: #000000;
	background-image: url("../images/neko.jpg");
	background-size: cover;
	border-radius: 100%;
	border: 8px solid #ff9090;
}

.title{
	font-weight: bold;
	font-size: 32px;
	margin: 10px;

}

.contents{
	display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 0 170px;
    
}

.box{
	width:188px;
	height:188px;
	border-radius: 10%;
	margin: 0px 0px 16px 0px;
	box-shadow:0px 0px 3px 0px #0003;
	overflow: hidden;
	cursor: pointer;
}

.boxinner{
	width:188px;
	height:188px;
	background-size: cover;
	transition: transform .5s;
}

.boxinner:hover {
  transform: scale(1.1);
}

.box:nth-child(1) .boxinner{
	background-image: url("../images/list/1.jpg");
	background-position: 40%;	
}

.box:nth-child(2) .boxinner{
	background-image: url("../images/list/2.jpg");
	background-position: 40%;
}

.box:nth-child(3) .boxinner{
	background-image: url("../images/list/3.jpg");
	background-position: 40%;
}

.box:nth-child(4) .boxinner{
	background-image: url("../images/list/4.jpg");
	background-position: 20%;	
}

.box:nth-child(5) .boxinner{
	background-image: url("../images/list/0.jpg");	
	background-position: 40%;
}

.footer{
	height:50px;
	background: #ff9090;
	font-size: 12px;
	color: #ffffff;
	display: flex;
	justify-content: center;
    align-items: center;

}

@media (max-width: 480px) {
body{
	background: #ffffff;
}
    .all{
    	margin: 80px 0;
    }

	.container{
		width: 100%;
		
	}
	.contents{
		justify-content: center;

	}
	.box:nth-child(2n-1){
		margin: 0px 16px 16px 0px;
	}
   .footer{
   	   text-align:center
   }


}

