body{
	background: #f6f4f4;

}

.wrapper{
	width:800px;
	margin: 0 auto;

}

.all{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 120px;
}

.figure{
	width:178px;
	height:178px;
	background: #000000;
	background-image: url("../images/neko.jpg");
	background-size: cover;
	border-radius: 100%;
	border: 8px solid #ff9090;
}

.title{
	font-weight: bold;
	font-size: 32px;
	margin: 10px;

}

.contents{
	display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}

.box{
	width:188px;
	height:188px;
	border-radius: 10%;
	background: #FFFFFF;
	margin: 0px 0px 16px 0px;
	box-shadow:0px 0px 3px 0px #0003;
}