body{
	background: #f6f4f4;

}

.all{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 120px;
}

.figure{
	width:178px;
	height:178px;
	background: #000000;
	background-image: url("../images/neko.jpg");
	background-size: cover;
	border-radius: 100%;
	border: 8px solid #ff9090;
}

.title{
	font-weight: bold;
	font-size: 32px;
	margin: 10px;

}